<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Assignment - Progress Bars</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="style/progressbar.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="script/app.js"></script>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container-fluid" ng-app="progressBars" ng-controller="progressBarsCtrl" >
            <div class="row">
                <div class="col-xs-12">
                    <h3>Assignment Progress Bars</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="progress text-center" ng-repeat="bar in noOfBars track by $index">
                        <div class="progress-bar" role="progressbar" aria-valuenow="bar" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( bar + '%' ) }"  ng-class="{'progress-bar-danger':bar>100}">
                            
                        </div>
                        <span ng-class="{'color-white':bar>50}">{{bar}}%</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="progress-dropdown col-xs-4 col-md-2 ">
                        <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Progress {{selectedBar + 1}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="bar in noOfBars track by $index"><a ng-click="selectBar($index)">Progress {{$index+1}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-8 ">
                        <button class="btn btn-default right-margin-5px" ng-repeat="button in noOfButtons track by $index" ng-click="updateProgressBar(button)">{{button}}</button>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>
